<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SPDatabase" connectionString="metadata=res://*/Models.SPDatabase.csdl|res://*/Models.SPDatabase.ssdl|res://*/Models.SPDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=salat-laptop\SQLEXPRESS2005;Initial Catalog=SP;Persist Security Info=True;User ID=sa;Password=password;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>